/****************************************
	https://inbcgammon.wiki.fc2.com/
	is liquid: true
	column type: 2column left
	modified: 2024-04-13 20:16:58
****************************************/
@charset "utf-8";

/* Index +++++++++++++++++++++++++++++++++++++++

	Layout:リキッド-左2カラム
	
	リセット設定
	初期設定
	レイアウト設定
	WIKIタイトル
	メインコンテンツ部分
		-共通の設定
		-ページタイトル（全ページ共通）
		-WIKI記事部分(HTMLタグ装飾)
		-ページャー
		-記事編集画面
		-編集履歴（復元ポイント）
		-画像・ページ管理
		-検索結果ページ
		-認証ページ
	サイドメニュー
	フッター
	
++++++++++++++++++++++++++++++++++++++++++++++ */



/* =================================================
	リセット設定
================================================= */
html,body,div,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,
blockquote,th,td,p {
	margin:0;
	padding:0;
}
ul, ol, li, dl, dt, dd {
	list-style:none;
}
img { border:none; }

.splitinclude,
.splitinclude.splitinclude_inner {
	margin:0;
}

/* =================================================
	初期設定
================================================= */
body {
	text-align:center;
	font-family:"メイリオ", Meiryo, 'ＭＳ Ｐゴシック',Verdana, Ariel, Helvetica,sans-serif;
	line-height:1.4;
	word-break:break-all;
	font-size:82%;		/* 13px */
}
html>/**/body {
	font-size:13px;
}
a { 
	text-decoration:none;
	/**/
	overflow:hidden;	/* for Fx */
	/**/
}
a:link { color:#0199CA; }
a:visited { color:#8AB6C4; }
a:focus,a:hover,a:active { color:#F79A15;text-decoration:underline; }
h1 { font-size:154%; }		/* 20px */
h2 { font-size:131%; }		/* 17px */
h3 { font-size:124%; }		/* 16px */
h4 { font-size:116%; }		/* 15px */
h5 { font-size:108%; }		/* 14px */
h6 { font-size:100%; }		/* 13px */
table {
	border-collapse:collapse;
	border-spacing:0;
}
input{ padding:1px 3px; }
textarea,select {
	padding:1px 3px;
}
#block_inclusion #wrap span.tree_title {
	color:#666666;
}

/* =================================================
	レイアウト設定
================================================= */
#block_inclusion {
	color:#333333;
	background:#F0F0F0 url(/design/plants_blue/images/body_bg.png) repeat-x left 98px;
}

#header {
	min-width: 900px;
	margin:0 auto;
}
#header p {
	max-width: 1200px;
}

#vpass {
	width: 950px;
	margin: 20px auto;
}

#wrap {
	width:100%;
	min-width: 900px;
	max-width: 1200px;
	margin:0 auto;
	padding:20px 0;
}
#wrap:after {
	content: "";
	overflow: hidden;
	display: block;
	clear: both;
	height: 0;
}
/**/
* html #wrap {
	overflow: visible;
	height: 1%;
}
/**/

#container {
	float: right;
	width: 100%;
	margin:0 10px 0 -260px;
}

#main {
	overflow: hidden;
	clear: both;
	margin-left:260px;
	padding:0 0 20px;
}

#menu { float:left; }
.menubox {
	overflow: hidden;
	width: 220px;
	margin-left:10px;
}

#footer {
	clear: both;
	position: relative;
	width: 100%;
	overflow: hidden;
}
#footer p {
	min-width: 900px;
	max-width: 1200px;
}

/* =================================================
	WIKIタイトル
================================================= */
#header {
	border-top:5px solid #2161cb;
	border-bottom:1px solid #C0C0C0;
	background-color:#FFFFFF;
	-moz-box-shadow: 0 3px 0 #E4E4E4;
	-webkit-box-shadow: 0 3px 0 #E4E4E4;
	filter:progid:DXImageTransform.Microsoft.DropShadow(color=#E4E4E4,offx=0,offy=3);
	box-shadow: 0 3px 0 0 #E4E4E4;
}
#header p {
	margin:0 auto;
	padding:30px 0 25px;
	background:url(/design/plants_blue/images/images.png) no-repeat 10px 0;
	text-align:left;
	color:#2161cb;
	font-size:185%;		/* 24px */
}
#header p a {
	margin-left:160px;
	color:#2161cb;
}

/* =================================================
	メインコンテンツ部分
================================================= */

/* 共通の設定
------------------------------------------------- */
#main .section {
	margin:0 0 20px;
	text-align:left;
	border-bottom:1px solid #C0C0C0;
}

/* システムメッセージ */
.style_message {
	color:#FF0000;
	font-weight:bold;
	margin:5px 0px;
	text-align:center;
}

.content {
	border-right:1px solid #c0c0c0;
	border-left:1px solid #c0c0c0;
	background:#FFFFFF url(/design/plants_blue/images/header_shadow.png) repeat-x left top;
	padding:15px 10px;
}

/* 共通のテーブル装飾（WIKI記事部分は別に設定可能） */
.content table {
	width:100%;
	margin:0 0 10px;
	border:1px solid #B9B9B9;
	text-align:center;
}

.content th {
	background-color:#F5F5F5;
}

.content th,
.content td {
	padding:3px;
	border:1px solid #B9B9B9;
	font-size:85%;	/* 11px */
}

/* 操作パネル（主に管理・編集ページ） */
.content .controlpanel {
	clear:both;
	margin-bottom:10px;
	padding:10px;
	border:1px solid #C0C0C0;
	background-color:#F0F0F0;
	text-align:left;
}
.content .controlpanel p {
	font-weight:bold;
	margin:0px 0px 10px;
	vertical-align:middle;
}
.content .controlpanel fieldset,
.newpage_space fieldset,
.message fieldset,
.edit_space fieldset {
	border:none;
	margin-bottom:5px;
	text-align:left;
}
.content .controlpanel #pass {
	height:20px;
	margin-right:5px;
}
.controlpanel #file {
	height:20px;
	margin-right:5px;
}

/* 編集日時、編集者IP表示部分 */
#main .section .modify_date {
	padding:10px;
	border-right:1px solid #c0c0c0;
	border-left:1px solid #c0c0c0;
	background-color:#FFFFFF;
	font-size:92%;		/* 11px */
}
#main .section .modify_date ul {
	padding:3px;
	background-color:#F7F7F7;
	border-top:1px dotted #010101;
	text-align:right;
}
#main .section .modify_date li {
	padding:2px 0 2px 20px;
	display:inline;
	background:url(/design/plants_blue/images/images.png) no-repeat 5px -271px;
}
#main .section .modify_date li:after {
	content:"";
	display:block;
	overflow:hidden;
	clear:both;
	height:0;
}

/* ページトップリンク */
#main #pagetop {
	text-align:right;
}
#main #pagetop a {
	padding-left:20px;
	background: url(/design/plants_blue/images/images.png) no-repeat 5px -239px;
}

/* ページタイトル（全ページ共通）
------------------------------------------------- */
#main .section .page_title,
#vpass .page_title {
	background:url(/design/plants_blue/images/pagetitle_bg2.png) no-repeat right top;
	color:#FFFFFF;
	text-align:left;
}
#main .section .page_title h1,
#main .section .page_title h2,
#vpass .page_title h1 {
	padding:8px 5px 5px 60px;
	background:url(/design/plants_blue/images/pagetitle_bg1.png) no-repeat left top;
}
#main .section .page_title h1,
#main .section .page_title h2 {
	font-size:124%;			/* 16px */
}

/* WIKI記事部分(HTMLタグ装飾)
------------------------------------------------- */
.user_body {
	border-right:1px solid #c0c0c0;
	border-left:1px solid #c0c0c0;
	background:#FFFFFF url(/design/plants_blue/images/header_shadow.png) repeat-x left top;
	padding:15px 10px;
	text-align:left;
}

/* 構文（*） */
.content h2,
.user_body h2 {
	margin-bottom:10px;
	padding:5px 0 5px 55px;
	border-top:1px dotted #010101;
	border-bottom:1px dotted #010101;
	background:#F0F0F0 url(/design/plants_blue/images/main_header1.png) no-repeat left 10px;
	text-align:left;
}

/* 構文（**） */
.content h3,
.user_body h3 {
	margin-bottom:10px;
	padding:10px 5px;
	border-bottom:3px solid #2161cb;
	background:url(/design/plants_blue/images/main_header2.png) repeat-x left bottom;
	text-align:left;
}

/* 構文（***） */
.content h4,
.user_body h4 {
	margin-bottom:8px;
	padding:3px 10px;
	border-bottom:1px dotted #010101;
	background:url(/design/plants_blue/images/main_header3.png) no-repeat left bottom;
	text-align:left;
}

/* 構文（-） */
.user_body .ulist1 {
	margin:1px 0 1px 1em;
	padding-left:20px;
	background: url(/design/plants_blue/images/images.png) no-repeat -50px -195px;
}

/* 構文（--） */
.user_body .ulist2 {
	margin:1px 0 1px 1em;
	padding-left:15px;
	background: url(/design/plants_blue/images/images.png) no-repeat -35px -211px;
}

/* 構文（---） */
.user_body .ulist3 {
	margin:1px 0 1px 1em;
	padding-left:15px;
	background: url(/design/plants_blue/images/images.png) no-repeat -18px -225px;
}

/* 構文（+） */
.user_body .olist1 {
	margin:1px 0 1px 3em;
	list-style-position:outside;
	list-style-type:decimal;
}

/* 構文（++） */
.user_body .olist2 {
	margin:1px 0 1px 4em;
	list-style-position:outside;
	list-style-type:lower-alpha;
}

/* 構文（+++） */
.user_body .olist3 {
	margin:1px 0 1px 5em;
	list-style-position:outside;
	list-style-type:lower-roman;
}

/* 構文（#hr） */
.user_body hr {
	margin:5px 15px;
	border-top:1px dotted #010101;	/*for Fx*/
	border-right:none;
	border-bottom:none;
	border-left:none;
	color:#FFFFFF;					/*for IE*/
}

/* 構文（|||） */
.user_body .table {
	border:1px solid #B9B9B9;
	width:95%;
}
.user_body th {
	background-color:#F5F5F5;
}

.user_body th,
.user_body td {
	border:1px solid #B9B9B9;
	padding:5px 10px;
}

/* 構文（未実装） */
.user_body p {
	margin:1em;
}

/* 構文（#blockquote(){}） */
.user_body blockquote {
	margin:0.5em 2em;
	padding:1em 1em 1em 4em;
	border-left:1px solid #BABABA;
	background:#E8E8E8 url(/design/plants_blue/images/images.png) no-repeat -95px -155px;
}

/* 構文（&image()） */
.user_body img {
	margin: 5px 5px 5px 5px;
	border: 0px solid #EEEEEE;
}

/* テキスト本文をインデントさせる指定(必要があれば追加) */
.user_body div,
.user_body pre {
	margin:0;
}

/* コメントフォーム */
.user_comment .user_comment_form {
	width:auto;
	margin:0;
	padding:10px;
}

/* ページャー
------------------------------------------------- */
.pager {
	margin-bottom:10px;
	margin-top:10px;
	padding:2px 0px;
	text-align:center;
	width:100%;
	font-size:78%;		/* 10px */
}

.pager strong {
	margin-right:3px;
	padding:1px 5px;
	position:relative;
	left:1px;
	top:1px;
	border:1px solid #3078A0;
	background-color:#79A7C6;
	color:#FFFFFF;
}

.pager a {
	left:1px;
	margin-right:3px;
	padding:1px 5px;
	position:relative;
	top:1px;
	border:1px solid #3078A0;
}

.pager a:link,
.pager a:visited {
	color:#3078A0;
}

.pager a:focus,
.pager a:hover,
.pager a:active {
	background-color:#3078A0;
	color:#FFFFFF;
}

/* ページ編集画面
------------------------------------------------- */
.edit_space fieldset input {
	vertical-align:middle;
}

.edit_space fieldset label {
	display:block;
	padding-bottom:5px;
}

.edit_space .edit_area {
	margin-bottom:15px;
}

.edit_space #toolbar {
	margin:0 0 5px;
	padding:5px;
	background-color:#F0F0F0;
	border:1px solid #EAEAEA;
}

/* Restoration link */
.edit_space .history a {
	display:block;
	width:6em;
	height:2em;
	line-height:2em;
	text-align:center;
	border:2px solid #EAEAEA;
	background-color:#0199CA;
	color:#FFFFFF;
}

.edit_space .history a:hover {
	background-color:#F79A15;
}

.edit_space .edit_message {
	border: 1px solid #FF0000;
	background-color: #FFFFFF;
	padding: 10px;
	margin-bottom: 20px;
}

.edit_space .edit_message_title {
	color: #FF0000;
}

.edit_space .edit_title {
	padding-bottom: 20px;
}

/* 編集履歴（復元ポイント）
------------------------------------------------- */
/* List page */
.history_space .restoration_list {
	margin-bottom:10px;
}

.history_space #pass {
	margin-right:5px;
}

.history_space .returnpage {
	margin:0 0 10px;
}

/* Restoration */
.message {
	margin:0 0 10px;
	border:1px solid #C0C0C0;
	background-color:#FFFFFF;
	background-image: none;
}

.message .history_link {
	color:#999999;
	margin:15px;
	text-align:center;
}

.message .history_link a {
	padding:0 5px;
}

.message p {
	margin-bottom:10px;
}

.message fieldset #pass {
	width:100px;
}

/* 画像・ページ管理
------------------------------------------------- */
/* Table style */
.pmanage_space table .lock,
.imanage_space table .lock {
	width:20px;
}

.pmanage_space table .check,
.imanage_space table .check {
	width:20px;
}

.pmanage_space table th.ptitle,
.imanage_space table th.ititle {
	line-height:1.3;
	text-align:center;
	width:auto;
}

.pmanage_space table td.ptitle,
.imanage_space table td.ititle {
	line-height:1.3;
	text-align:left;
	width:auto;
}

.pmanage_space table .ititle p,
.imanage_space table .ititle p {
	margin:0 0 3px
}

.pmanage_space table .ititle input,
.imanage_space table .ititle input {
	width:200px;
}

.pmanage_space table .edit,
.imanage_space table .edit {
	width:30px;
}

.pmanage_space table .copy,
.imanage_space table .copy {
	width:30px;
}

.imanage_space table .size {
	width:65px;
}

.pmanage_space table .day,
.imanage_space table .day {
	width:80px;
}

.imanage_space table .thumb {
	padding:5px 0px;
	width:55px;
}

.imanage_space .thumb img {
	width:50px;
}

/* File upload */
.imanage_space .controlpanel .file_upload {
	margin:10px;
}

.imanage_space .controlpanel .file_upload ul li input {
	margin-right:5px;
}

.imanage_space .controlpanel .file_upload #upload_form {
	margin:10px 0;
}

.imanage_space .controlpanel .file_upload #upload_form a {
	padding-left:15px;
}

.imanage_space .controlpanel .file_upload #upload_form .close {
	background-image:url(/img/btn_plus.png);
	background-position:left center;
	background-repeat:no-repeat;
}

.imanage_space .controlpanel .file_upload #upload_form .open {
	background-image:url(/img/btn_minus.png);
	background-position:left center;
	background-repeat:no-repeat;
}

.imanage_space .controlpanel .file_upload #multi_upload {
	margin:0 0 10px;
}

.imanage_space .controlpanel .file_upload #multi_upload li {
	margin:0 0 5px;
}

/* 検索結果ページ
------------------------------------------------- */
#main .section .search_result .searchlist dt {
	padding:5px 0;
	font-size:116%;	/* 15px */
}

#main .section .search_result .searchlist dd {
	padding:0 0 5px;
	color:#6A6A6A;
}

#main .section .search_result .searchlist .words {
	padding:0 2px;
	background-color:#DBEAAD;
}

#main .section .search_result .searchlist .modify_date {
	margin:0;
	border-top:0;
	border-bottom:1px solid #EBEBEB;
	background:none;
	text-align:right;
	font-size:92%;		/* 11px */
}

/* 認証ページ
------------------------------------------------- */
#vpass {
	border-bottom:1px solid #C0C0C0;
}

#vpass .page_title h1 {
	font-size:124%;			/* 16px */
}
#vpass .content {
	padding:20px;
}

#vpass .content dl {
	margin:0px 20px 10px;
	text-align:left;
}

#vpass .content dt {
	font-weight:bold;
}

#vpass .content dd {
	margin-bottom:15px;
}

#vpass .content input {
	font-size:108%;	/* 14px */
}

/* =================================================
	サイドメニュー
================================================= */
.menubox {
	margin-bottom:15px;
	text-align:left;
}
.menubox .section {
	width:100%;
	margin-bottom: 15px;
	text-align:left;
}

/* サイドメニュータイトル */
.menubox .section .side_title {
	background:url(/design/plants_blue/images/side_header.png) no-repeat left top;
	text-align:left;
}
.menubox .section .side_title h3 {
	padding:5px 0 3px 25px;
	color:#FFFFFF;
}

/* サイドメニューのリストスタイル */
.menubox .section ul li {
	margin-left:20px;
	padding-top:2px;
	padding-bottom:2px;
	list-style-position:outside;
	list-style-type:disc;
}
.menubox .section ol li {
	margin-left:20px;
	list-style-position:outside;
	list-style-type:decimal;
}

.menubox .menubody {
	padding:10px 5px 5px;
	border-right:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0;
	border-left:1px solid #c0c0c0;
	background:#FFFFFF url(/design/plants_blue/images/header_shadow.png) repeat-x left top;
}

/* 最近の更新 */
#plg_recent .menubody .modify_date {
	margin-bottom: 2px;
	border-bottom:1px dotted #010101;
}
#plg_recent .menubody ul {
	margin-bottom:5px;
}
#plg_recent .menubody ul li {
	margin:0;
	padding-left:30px;
	background:url(/design/plants_blue/images/images.png) no-repeat -70px -178px;
	font-size:93%;	/* 12px */
	list-style:none;
}
#plg_recent .menubody ul li a {
	background-color:#FFFFFF;
}

/* 構文（*） */
#plg_menu .menubody h2 {
	margin-bottom:5px;
	padding:5px 25px 5px 5px;
	background:#45b1f6 url(/design/plants_blue/images/images.png) no-repeat 180px -170px ;
	font-size:100%;	/* 13px */
	color:#FFFFFF;
}

/* 構文（**） */
#plg_menu .menubody h3 {
	margin-bottom:5px;
	padding:5px;
	border-width:1px 1px 1px 10px;
	border-style:solid;
	border-color:#CCCCCC #CCCCCC #CCCCCC #2161CB;
	font-size:100%;	/* 13px */
}

/* 構文（***） */
#plg_menu .menubody h4 {
	margin-bottom:5px;
	padding:3px 5px;
	border-bottom:1px solid #BBBBBB;
	border-left:5px solid #BBBBBB;
	color:#000000;
	font-size:100%;	/* 13px */
}

/* 構文（-） */
#plg_menu .menubody .ulist1 {
	margin:1px 0;
	padding-left:15px;
	background: url(/design/plants_blue/images/images.png) no-repeat 0 -308px;
	list-style:none;
}

/* 構文（--） */
#plg_menu .menubody .ulist2 {
	margin:1px 0;
	padding-left:15px;
	background: url(/design/plants_blue/images/images.png) no-repeat -35px -211px;
	list-style:none;
}

/* 構文（---） */
#plg_menu .menubody .ulist3 {
	margin:1px 0;
	padding-left:15px;
	background: url(/design/plants_blue/images/images.png) no-repeat -18px -225px;
	list-style:none;
}

/* 構文（+） */
#plg_menu .menubody .olist1 {
	margin:1px 0 1px 2em;
	list-style-position:outside;
	list-style-type:decimal;
}

/* 構文（++） */
#plg_menu .menubody .olist2 {
	margin:1px 0 1px 1em;
	list-style-position:outside;
	list-style-type:lower-alpha;
}

/* 構文（+++） */
#plg_menu .menubody .olist3 {
	margin:1px 0 1px 1em;
	list-style-position:outside;
	list-style-type:lower-roman;
}

/* 構文（#hr） */
#plg_menu .menubody hr {
	margin:5px 0;
	border-top:1px dotted #010101;	/*for Fx*/
	border-right:none;
	border-bottom:none;
	border-left:none;
	color:#FFFFFF;					/*for IE*/
}

/* 構文（|||） */
#plg_menu .menubody .table {
	border:1px solid #B9B9B9;
	width:95%;
}
#plg_menu .menubody th {
	background-color:#F5F5F5;
}
#plg_menu .menubody td,
#plg_menu .menubody th {
	padding:5px 10px;
	border:1px solid #B9B9B9;
}

/* 構文（未実装） */
#plg_menu .menubody p {
	margin:0.5em 1em;
}

/* 構文（#blockquote(){}） */
#plg_menu .menubody blockquote {
	margin:0.5em 0;
	padding:1em 1em 1em 4em;
	border-left:1px solid #BABABA;
	background:#E8E8E8 url(/design/plants_blue/images/images.png) no-repeat -95px -155px;
}

/* 構文（&image()） */
#plg_menu .menubody img {
	margin:0 5px 5px 0;
}

/* フリーエリア */
#plg_free_1 .menubody,
#plg_free_2 .menubody,
#plg_free_3 .menubody,
#plg_free_4 .menubody {
	border-top: 1px solid #C0C0C0;
	background-image: none;
}
#plg_free_1 .menubody ul li,
#plg_free_2 .menubody ul li,
#plg_free_3 .menubody ul li,
#plg_free_4 .menubody ul li {
	margin:1px 0;
	padding-left:15px;
	background: url(/design/plants_blue/images/images.png) no-repeat 0 -308px;
	list-style:none;
}
#plg_free_1 .menubody ol li,
#plg_free_2 .menubody ol li,
#plg_free_3 .menubody ol li,
#plg_free_4 .menubody ol li {
	margin:1px 0 1px 1.5em;
	list-style-position:outside;
	list-style-type:decimal;
}

/* =================================================
	Footer
================================================= */
#footer {
	padding:10px 0;
	background:url(/design/plants_blue/images/footer_bg.png) repeat-x left top;
	color:#FFFFFF;
	font-size:84%;		/* 10px */
}
#footer p {
	margin:0 auto;
	padding:0 10px;
	text-align:left;
}
#footer a { color:#000; }
#footer .ad { padding:10px 10px 5px; }



/*** easy design ***/


#header {
}





body {
}




















